$colour_dark_brown: #4c3427;
$colour_light_brown: #f8f5ee;
$colour_footer-brown: #434141;
$colour_cream: #f8f5ee;
$colour_off_white: #f7f7f7;
$colour_menu_brown: #ae7c5b;

$colour_section_choc_brown: #573d2e;

// f8f5ee